<!-- Project landing pages -->
[Depcon]: /depcon
[Netshare]: /netshare
[Mesoslog]: /mesoslog

<!-- containx doc sections -->
[containx-docs]: /containx/docs/
[containx-getting-started]: /containx/docs/getting-started
[clustering]: /containx/docs/clustering
[node-types]: /containx/docs/clustering#node-types
[clients]: /containx/docs/clustering#clients
[replicas]: /containx/docs/clustering#replicas
[consistency]: /containx/docs/consistency
[consistency-model]: /containx/docs/consistency#consistency-model
[consistency-levels]: /containx/docs/consistency#consistency-levels
[resources]: /containx/docs/resources
[variables]: /containx/docs/variables
[collections]: /containx/docs/collections
[groups]: /containx/docs/groups
[concurrency]: /containx/docs/concurrency
[messaging]: /containx/docs/messaging
[custom-resources]: /containx/docs/custom-resources
[configuration]: /containx/docs/configuration
[containx-embedded]: /containx/docs/installation#embedded-usage
[containx-standalone]: /containx/docs/installation#standalone-usage

<!-- Copycat doc sections -->
[depcon-docs]: /copycat/docs/
[state-machines]: /copycat/docs/state-machine
[copycat-server]: /copycat/docs/server
[copycat-client]: /copycat/docs/client
[commands]: /copycat/docs/state-machine#commands
[sessions]: /copycat/docs/state-machine#sessions
[copycat-internals]: /copycat/docs/internals

<!-- Catalyst doc sections -->
[catalyst-docs]: /catalyst/docs/
[io-serialization]: /catalyst/docs/serialization
[io-transports]: /catalyst/docs/messaging
[builders]: /catalyst/docs/utilities#builders
[contexts]: /catalyst/docs/utilities#contexts

<!-- Raft -->
[Raft]: https://raft.github.io/
[raft-dissertation]: https://ramcloud.stanford.edu/~ongaro/thesis.pdf
[raft-paper]: https://www.usenix.org/system/files/conference/atc14/atc14-paper-ongaro.pdf

<!-- Concepts -->
[CAP]: https://en.wikipedia.org/wiki/CAP_theorem
[Linearizability]: https://en.wikipedia.org/wiki/Linearizability
[SequentialConsistency]: https://en.wikipedia.org/wiki/Sequential_consistency
[CausalConsistency]: https://en.wikipedia.org/wiki/Causal_consistency

<!-- Repositories -->
[containxRepo]: http://github.com/containx/containx
[CopycatRepo]: http://github.com/containx/copycat
[CatalystRepo]: http://github.com/containx/catalyst

<!-- Maven artifacts -->
[containx-all-mvn]: http://search.maven.org/#artifactdetails%7Cio.containx%7Ccontainx-all%7C{{ site.containx-version }}%7Cjar
[containx-mvn]: http://search.maven.org/#artifactdetails%7Cio.containx%7Ccontainx%7C{{ site.containx-version }}%7Cjar
[resource-manager-mvn]: http://search.maven.org/#artifactdetails%7Cio.containx%7Ccontainx-resource-manager%7C{{ site.containx-version }}%7Cjar
[catalyst-netty-mvn]: http://search.maven.org/#artifactdetails%7Cio.containx.catalyst%7Ccatalyst-netty%7C{{ site.catalyst-version }}%7Cjar
[catalyst-local-mvn]: http://search.maven.org/#artifactdetails%7Cio.containx.catalyst%7Ccatalyst-local%7C{{ site.catalyst-version }}%7Cjar

<!-- Tech -->
[Hazelcast]: http://hazelcast.org/
[Kafka]: http://kafka.apache.org/
[Netty]: http://netty.io/
[ZooKeeper]: https://zookeeper.apache.org/
[Curator]: http://curator.apache.org/
[Cassandra]: http://cassandra.apache.org/
[Dynamo]: https://en.wikipedia.org/wiki/Dynamo_(storage_system)

<!-- JDK Javadoc -->
[Runnable]: https://docs.oracle.com/javase/8/docs/api/java/lang/Runnable.html
[CompletableFuture]: https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html
[Executor]: https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/Executor.html
[CompletableFuture]: https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html
[ByteBuffer]: https://docs.oracle.com/javase/8/docs/api/java/nio/ByteBuffer.html
[JdkLock]: https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/locks/Lock.html
[JdkAtomic]: https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/atomic/package-summary.html
[AtomicReference]: https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/atomic/AtomicReference.html
[AtomicLong]: https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/atomic/AtomicLong.html

<!-- containx Javadoc -->
[containxJavadoc]: http://containx.io/containx/api/latest/
[collections-jd]: http://containx.io/containx/api/latest/io/containx/collections.html
[atomic]: http://containx.io/containx/api/latest/io/containx/atomic.html
[coordination-jd]: http://containx.io/containx/api/latest/io/containx/coordination.html
[containx]: http://containx.io/containx/api/latest/io/containx.html
[containx]: http://containx.io/containx/api/latest/io/containx/containx.html
[containxServer]: http://containx.io/containx/api/latest/io/containx/containx.html
[containxReplica]: http://containx.io/containx/api/latest/io/containx/containxReplica.html
[containxClient]: http://containx.io/containx/api/latest/io/containx/containxClient.html
[ResourceClient]: http://containx.io/containx/api/latest/io/containx/manager/ResourceClient.html
[Resource]: http://containx.io/containx/api/latest/io/containx/resource/Resource.html
[DistributedValue]: http://containx.io/containx/api/latest/io/containx/variables/DistributedValue.html
[DistributedLong]: http://containx.io/containx/api/latest/io/containx/variables/DistributedLong.html
[DistributedSet]: http://containx.io/containx/api/latest/io/containx/collections/DistributedSet.html
[DistributedQueue]: http://containx.io/containx/api/latest/io/containx/collections/DistributedQueue.html
[DistributedMap]: http://containx.io/containx/api/latest/io/containx/collections/DistributedMap.html
[DistributedMultiMap]: http://containx.io/containx/api/latest/io/containx/collections/DistributedMultiMap.html
[DistributedLock]: http://containx.io/containx/api/latest/io/containx/concurrent/DistributedLock.html
[DistributedGroup]: http://containx.io/containx/api/latest/io/containx/group/DistributedGroup.html
[TaskClient]: http://containx.io/containx/api/latest/io/containx/group/task/TaskClient.html
[TaskService]: http://containx.io/containx/api/latest/io/containx/group/task/TaskService.html
[TaskProducer]: http://containx.io/containx/api/latest/io/containx/group/task/TaskProducer.html
[TaskConsumer]: http://containx.io/containx/api/latest/io/containx/group/task/TaskConsumer.html
[Task]: http://containx.io/containx/api/latest/io/containx/group/task/Task.html
[MessageClient]: http://containx.io/containx/api/latest/io/containx/group/messaging/MessageClient.html
[MessageService]: http://containx.io/containx/api/latest/io/containx/group/messaging/MessageService.html
[MessageProducer]: http://containx.io/containx/api/latest/io/containx/group/messaging/MessageProducer.html
[MessageConsumer]: http://containx.io/containx/api/latest/io/containx/group/messaging/MessageConsumer.html
[Message]: http://containx.io/containx/api/latest/io/containx/group/messaging/Message.html
[GroupMember]: http://containx.io/containx/api/latest/io/containx/group/Member.html
[ReadConsistency]: http://containx.io/containx/api/latest/io/containx/resource/ReadConsistency.html
[WriteConsistency]: http://containx.io/containx/api/latest/io/containx/resource/WriteConsistency.html

<!-- Copycat Javadoc -->
[CopycatJavadoc]: http://containx.io/copycat/api/latest/
[protocol]: http://containx.io/copycat/api/latest/io/containx/copycat/client.html
[StateMachine]: http://localhost:4000/copycat/api/latest/io/containx/copycat/server/StateMachine.html
[Storage]: http://localhost:4000/copycat/api/latest/io/containx/copycat/server/storage/Storage.html
[StorageLevel]: http://containx.io/copycat/api/latest/io/containx/copycat/server/storage/StorageLevel.html
[Log]: http://containx.io/copycat/api/latest/io/containx/copycat/server/storage/Log.html
[CopycatServer]: http://containx.io/copycat/api/latest/io/containx/copycat/server/CopycatServer.html
[Cluster]: http://containx.io/copycat/api/latest/io/containx/copycat/server/cluster/Cluster.html
[Member]: http://containx.io/copycat/api/latest/io/containx/copycat/server/cluster/Member.html
[Member.Type]: http://containx.io/copycat/api/latest/io/containx/copycat/server/cluster/Member.Type.html
[Member.Status]: http://containx.io/copycat/api/latest/io/containx/copycat/server/cluster/Member.Status.html
[CopycatClient]: http://containx.io/copycat/api/latest/io/containx/copycat/client/CopycatClient.html
[Session]: http://containx.io/copycat/api/latest/io/containx/copycat/session/Session.html
[Operation]: http://containx.io/copycat/api/latest/io/containx/copycat/Operation.html
[Command]: http://containx.io/copycat/api/latest/io/containx/copycat/Command.html
[Command.ConsistencyLevel]: http://containx.io/copycat/api/latest/io/containx/copycat/Command.ConsistencyLevel.html
[Query]: http://containx.io/copycat/api/latest/io/containx/copycat/Query.html
[Query.ConsistencyLevel]: http://containx.io/copycat/api/latest/io/containx/copycat/Query.ConsistencyLevel.html
[Commit]: http://containx.io/copycat/api/latest/io/containx/copycat/server/Commit.html
[CommandConsistencyLevel]: http://localhost:4000/copycat/api/latest/io/containx/copycat/client/Command.ConsistencyLevel.html
[QueryConsistencyLevel]: http://localhost:4000/copycat/api/latest/io/containx/copycat/client/Query.ConsistencyLevel.html

<!-- Catalyst Javadoc -->
[CatalystJavadoc]: http://containx.io/catalyst/api/latest/
[io]: http://containx.io/catalyst/api/latest/io/containx/catalyst/buffer.html
[serializer]: http://containx.io/catalyst/api/latest/io/containx/catalyst/serializer.html
[transport]: http://containx.io/catalyst/api/latest/io/containx/catalyst/transport.html
[utilities]: http://containx.io/catalyst/api/latest/io/containx/catalyst/util.html
[Address]: http://containx.io/catalyst/api/latest/io/containx/catalyst/transport/Address.html
[Transport]: http://containx.io/catalyst/api/latest/io/containx/catalyst/transport/Transport.html
[LocalTransport]: http://containx.io/catalyst/api/latest/io/containx/catalyst/transport/LocalTransport.html
[NettyTransport]: http://containx.io/catalyst/api/latest/io/containx/catalyst/transport/NettyTransport.html
[Builder]: http://containx.io/catalyst/api/latest/io/containx/catalyst/util/Builder.html
[Listener]: http://containx.io/catalyst/api/latest/io/containx/catalyst/util/Listener.html
[Context]: http://containx.io/catalyst/api/latest/io/containx/catalyst/util/concurrent/Context.html
[Buffer]: http://containx.io/catalyst/api/latest/io/containx/catalyst/buffer/Buffer.html
[BufferReader]: http://containx.io/catalyst/api/latest/io/containx/catalyst/buffer/BufferReader.html
[BufferWriter]: http://containx.io/catalyst/api/latest/io/containx/catalyst/buffer/BufferWriter.html
[Serializer]: http://containx.io/catalyst/api/latest/io/containx/catalyst/serializer/Serializer.html
[CopycatSerializable]: http://containx.io/catalyst/api/latest/io/containx/catalyst/serializer/CopycatSerializable.html
[TypeSerializer]: http://containx.io/catalyst/api/latest/io/containx/catalyst/serializer/TypeSerializer.html
[SerializableTypeResolver]: http://containx.io/catalyst/api/latest/io/containx/catalyst/serializer/SerializableTypeResolver.html
[PrimitiveTypeResolver]: http://containx.io/catalyst/api/latest/io/containx/catalyst/serializer/SerializableTypeResolver.html
[JdkTypeResolver]: http://containx.io/catalyst/api/latest/io/containx/catalyst/serializer/SerializableTypeResolver.html
[ServiceLoaderTypeResolver]: http://containx.io/catalyst/api/latest/io/containx/catalyst/serializer/ServiceLoaderTypeResolver.html
